<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../../CSS/login/styleLogin.css">
    <link rel="icon" type="image/x-icon" href="assets/logo/senai_icon.png">
</head>

<body>
    <main class="main-login-center">
        <form action="acesso-responsavel" class="form-login" method="post">
            <div class="form-login-title">
                <h1>Login</h1>
                <h3>Bem-vindo(a) ao Sistema de Estoque do SENAI-SP</h3>
            </div>
            <div class="form-login-input">
                <div class="form-login-input-up">
                    <label for="email">E-mail</label>
                    <input type="email" name="email" id="email-input-id"
                        placeholder="Insira o seu e-mail institucional">
                </div>
                <div class="form-login-input-down">
                    <div class="form-login-input-senha-section">
                        <label for="senha">Senha</label>
                        <input type="password" name="senha" id="senha-input-id" placeholder="Insira a sua senha">
                    </div>
                    <div class="form-login-forget-password-section">
                        <a href="#">Esqueceu a Senha?</a>
                    </div>
                </div>
                <div class="form-login-button">
                    <input type="submit" value="Acessar">
                </div>
            </div>
            <div class="form-login-senai-logo">
                <img src="assets/senai.png" alt="senai-logo">
            </div>
        </form>
    </main>
</body>

</html>