<div class="div-dlt-pop-up" id="dlt-pop-up-id">
    <div class="div-dlt-pop-up-section">
        <div class="div-icon-section">
            <img src="../../../TEMPLATES/icons/triangle-exclamation-solid.svg" alt="alert-icon">
        </div>
        <div class="div-pop-up-title">
            <h1>Aviso!</h1>
        </div>
        <div class="div-pop-up-info">
            <p id="pop-up-text-id">Deseja realmente excluir este usuário? Esta ação é irreversível!</p>
            <div class="div-loading-points" id="pop-up-loading-id">
                <span class="point"></span>
                <span class="point"></span>
                <span class="point"></span>
            </div>
        </div>
        <div class="div-btn-section">
            <button class="delete-btn-true" id="delete-btn-true-id">Excluir</button>
            <button class="cancel-btn" id="cancel-btn-id">Cancelar</button>
        </div>
    </div>
</div>