<header class="header-section">
    <div class="header-main-section">
        <div class="div-main-left-section">
            <div class="div-menu-button">
                <button id="toggle-button" class="arrow-menu-btn"><i id="arrow-icon"
                        class="fas fa-regular fa-chevron-right"></i></button>
            </div>
        </div>
        <div class="div-main-right-section">
            <div class="div-search-input">
                <input type="search" name="search-input" id="search-input-id" placeholder="Pesquisar">
            </div>
            <div class="div-buttons-section">
                <button class="notification-icon-btn"><i class="fas fa-regular fa-bell"></i></button>
            </div>
            <div class="div-senai-logo">
                <img src="assets/senai.png" alt="senai-logo">
            </div>
        </div>
    </div>
    <div id="sidebar" class="header-side-menu">
        <div class="header-side-bar-top-section">
            <div class="div-links-buttons">
                <button class="btn-home" onclick="location.href='/home'"><i class="fas fa-solid fa-list"></i>Home</button>
                <button class="btn-profile" onclick="location.href='/interna-responsavel'"><i class="fas fa-solid fa-user"></i>Perfil</button>
                <button class="btn-about-us" onclick="location.href='/sobre-nos'"><img src="assets/icons/circle-exclamation-solid.svg" width="20px"
                        style="margin-right: 10px;" alt="img-exclamation">Sobre
                    Nós</button>
                    
                <button class="btn-exit" ><img src="assets/icons/right-from-bracket-solid.svg" width="20px"
                        style="margin-right: 10px;" alt="img-exit">
                    Sair</button>
            </div>
        </div>
        <div class="header-side-bar-bottom-section">
            <div class="div-conf-button">
                <button><img src="assets/icons/gear-solid.svg" width="20px" style="margin-right: 10px;"
                        alt="img-gear">Configurações</button>
            </div>
        </div>
    </div>
</header>