<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil - Administrador</title>
    <link rel="stylesheet" href="../../../CSS/profile/styleProfile.css">
    <link rel="stylesheet" href="../../../CSS/fragments/loadingStyle.css">
    <link rel="stylesheet" href="../../../CSS/fragments/styleHeader.css">
    <link rel="stylesheet" href="../../../CSS/fragments/styleFooter.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="assets/logo/senai_icon.png">
</head>

<body>

    <div th:insert="~{fragments/loading :: div}"></div>
    
    <header th:insert="~{fragments/header :: header}"></header>

    <!-- Seção principal -->
    <main class="main-section">
        <div class="profile-section">
            <div class="div-profile-info-section">
                <div class="div-profile-img-section">
                    <div class="div-profile">
                        <img src="assets/icons/user-solid.svg" alt="profile-img">
                    </div>
                </div>
                <div class="div-profile-info-text">
                    <h1>Bem-vindo(a), <span th:text="${nome}">Administrador(a)</span>!</h1>
                    <h3 th:text="${cargo}"></h3>
                </div>
                <div class="div-button-edit-info-section">
                    <div class="details-button">
                        <button id="act-table-user-btn" class="users-btn"><i class="fas fa-solid fa-user"></i></button>
                        <button id="act-table-rooms-btn" class="rooms-btn"><i class="fas fa-solid fa-school"></i></button>
                    </div>
                    <button class="edit-profile-btn">Editar Perfil</button>
                </div>
            </div>

            <!-- Seção das listas -->
            <!-- Lista de Usuários -->
            <div class="div-adm-list-users-section" id="div-users-list-id">
                <div class="users-list-section">
                    <div class="users-list-top-section">
                        <div class="div-list-users-title">
                            <h2>Lista de Usuários</h2>
                            <div class="div-btn-plus-users">
                                <button class="btn-plus-users"><i class="fas fa-solid fa-plus"></i></button>
                            </div>
                        </div>
                        <div class="input-filter-section">
                            <input type="search" placeholder="Filtrar">
                        </div>
                    </div>

                    <div class="users-list-bottom-section">
                        <table>
                            <thead>
                                <th>Nome</th>
                                <th>E-mail</th>
                                <th>Cargo</th>
                            </thead>
                            <tbody>
                                <td>Diogo Takamori Barbosa</td>
                                <td>diogotb@senai.com</td>
                                <td>Professor</td>
                            </tbody>
                            <tbody>
                                <td>Bruno A. Moraes</td>
                                <td>brunao@senai.com</td>
                                <td>Professor</td>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>

            <!-- Lista de Salas -->
            <div class="div-adm-rooms-list-section" id="div-rooms-list-id">
                <div class="adm-rooms-list-section">
                    <div class="adm-rooms-list-top-section">
                        <div class="div-list-rooms-adm-title">
                            <h2>Lista de Salas</h2>
                            <div class="div-btn-plus-rooms">
                                <button class="btn-plus-rooms"><i class="fas fa-solid fa-plus"></i></button>
                            </div>
                        </div>
                        <div class="input-filter-section">
                            <input type="search" placeholder="Filtrar">
                        </div>
                    </div>

                    <div class="adm-rooms-list-bottom-section">
                        <table>
                            <thead>
                                <th>ID</th>
                                <th>Nome</th>
                                <th>Bloco</th>
                                <th>Área</th>
                                <th>Responsável</th>
                            </thead>
                            <tbody>
                                <td>1</td>
                                <td>Sala 8</td>
                                <td>Bloco A</td>
                                <td>Sala de Aula</td>
                                <td>Diogo Takamori Barbosa</td>
                            </tbody>
                            <tbody>
                                <td>2</td>
                                <td>Sala 10</td>
                                <td>Bloco A</td>
                                <td>Sala de Aula</td>
                                <td>Bruno A. Moraes</td>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>

        </div>
    </main>

    <footer th:insert="~{fragments/footer :: footer}"></footer>
    
</body>

<script src="../../../JS/fragments/headerScript.js"></script>
<script src="../../../JS/fragments/loadingScript.js"></script>
<script src="../../../JS/profile/admProfileScript.js"></script>

</html>