<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Sala</title>
    <link rel="stylesheet" href="../../../CSS/register/styleRegisterRoom.css">
    <link rel="stylesheet" href="../../../CSS/fragments/loadingStyle.css">
    <link rel="stylesheet" href="../../../CSS/fragments/styleHeader.css">
    <link rel="stylesheet" href="../../../CSS/fragments/styleFooter.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="assets/logo/senai_icon.png">
</head>

<body>

    <div th:insert="~{fragments/loading :: div}"></div>
    
    <header th:insert="~{fragments/header :: header}"></header>

    <main class="main-section">
        <div class="div-room-form-section">
            <div class="div-form">
                <div class="div-room-form-title">
                    <h1>Cadastrar Salas</h1>
                </div>
                <div class="div-form-info">
                    Preencha os campos abaixo para cadastrar uma nova sala
                </div>
                <form action="" method="post" id="form-room-id">

                    <div class="div-form-input-section">
                        <div class="div-form-section-left">
                            <div class="div-input-part">
                                <label for="id">ID</label>
                                <input type="id" name="number" placeholder="Insira o ID">
                            </div>
                            <div class="div-input-part">
                                <label for="nome">Nome da Sala</label>
                                <input type="text" name="nome" placeholder="Insira o nome">
                            </div>
                        </div>
                        <div class="div-form-section-right">
                            <div class="div-input-part">
                                <label for="bloco">Bloco</label>
                                <select name="bloco">
                                    <option>Selecione um Bloco</option>
                                    <option value="Bloco A">Bloco A</option>
                                    <option value="Bloco B">Bloco B</option>
                                    <option value="Bloco C">Bloco C</option>
                                    <option value="Bloco D">Bloco D</option>
                                </select>
                            </div>
                            <div class="div-input-part">
                                <label for="area">Área</label>
                                <select name="area">
                                    <option>Selecione uma Sala</option>
                                    <option value="Sala de Aula">Sala de Aula</option>
                                    <option value="Tecnologia da Informação">Tecnologia da Informação</option>
                                    <option value="Deposíto">Deposíto</option>
                                    <option value="Oficina">Oficina</option>
                                </select>
                            </div>
                            <div class="div-input-part">
                                <label for="responsavel">Responsável</label>
                                <select name="responsavel">
                                    <option>Selecione um(a) Responsável</option>
                                    <option value="">Diogo Takamori Barbosa</option>
                                    <option value="">Bruno A. Moraes</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="div-form-submit-btn-section">
                        <input type="submit" value="Cadastrar">
                    </div>
                </form>
            </div>
        </div>
    </main>

    <footer th:insert="~{fragments/footer :: footer}"></footer>
    
</body>

<script src="../../../JS/fragments/headerScript.js"></script>
<script src="../../../JS/fragments/loadingScript.js"></script>
<script src="../../../JS/register/registerRoomScript.js"></script>

</html>