<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre Nós</title>
    <link rel="stylesheet" href="../../CSS/about/styleAboutUs.css">
    <link rel="stylesheet" href="../../CSS/fragments/loadingStyle.css">
    <link rel="stylesheet" href="../../CSS/fragments/styleHeader.css">
    <link rel="stylesheet" href="../../CSS/fragments/styleFooter.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="../../TEMPLATES/logo/senai_icon.png">
</head>

<body>

    <div class="div-preloader" id="preloader-id">
        <span class="span-effect span-1">S</span>
        <span class="span-effect span-2">E</span>
        <span class="span-effect span-3">N</span>
        <span class="span-effect span-4">A</span>
        <span class="span-effect span-5">I</span>
    </div>

    <header class="header-section">
        <div class="header-main-section">
            <div class="div-main-left-section">
                <div class="div-menu-button">
                    <button id="toggle-button" class="arrow-menu-btn"><i id="arrow-icon"
                            class="fas fa-regular fa-chevron-right"></i></button>
                </div>
            </div>
            <div class="div-main-right-section">
                <div class="div-search-input">
                    <input type="search" name="search-input" id="search-input-id" placeholder="Pesquisar">
                </div>
                <div class="div-buttons-section">
                    <button class="notification-icon-btn"><i class="fas fa-regular fa-bell"></i></button>
                </div>
                <div class="div-senai-logo">
                    <img src="../../TEMPLATES/senai.png" alt="senai-logo">
                </div>
            </div>
        </div>
        <div id="sidebar" class="header-side-menu">
            <div class="header-side-bar-top-section">
                <div class="div-links-buttons">
                    <button class="btn-home"><i class="fas fa-solid fa-list"></i>Home</button>
                    <button class="btn-profile"><i class="fas fa-solid fa-user"></i>Perfil</button>
                    <button class="btn-about-us"><img src="../../TEMPLATES/icons/circle-exclamation-solid.svg"
                            width="20px" style="margin-right: 10px;" alt="img-exclamation">Sobre
                        Nós</button>
                    <button class="btn-exit"><img src="../../TEMPLATES/icons/right-from-bracket-solid.svg" width="20px"
                            style="margin-right: 10px;" alt="img-exit">
                        Sair</button>
                </div>
            </div>
            <div class="header-side-bar-bottom-section">
                <div class="div-conf-button">
                    <button><img src="../../TEMPLATES/icons/gear-solid.svg" width="20px" style="margin-right: 10px;"
                            alt="img-gear">Configurações</button>
                </div>
            </div>
        </div>
    </header>

    <main class="main-section">
        <div class="div-about-us-section">
            <div class="div-about-us-title">
                <h1>Sobre Nós!</h1>
            </div>
            <div class="div-center-about-us-section">
                <div class="div-about-us-subtitle">
                    <h2>Conheça os Desenvolvedores</h2>
                </div>
                <div class="div-about-us-devs-section">
                    <div class="div-about-us-dev dev-1">
                        <div class="div-dev-title">
                            <h1>Rafael Moura</h1>
                            <h2>Desenvolvedor Back-End</h2>
                        </div>
                        <div class="div-dev-img">
                            <img src="../../TEMPLATES/devs/rafael.jpg" alt="dev-img">
                        </div>
                    </div>
                    <div class="div-about-us-dev dev-2">
                        <div class="div-dev-title">
                            <h1>Heitor Melo</h1>
                            <h2>Desenvolvedor Back-End e Banco de Dados</h2>
                        </div>
                        <div class="div-dev-img">
                            <img src="../../TEMPLATES/devs/heitor.jpg" alt="dev-img">
                        </div>
                    </div>
                    <div class="div-about-us-dev dev-3">
                        <div class="div-dev-title">
                            <h1>Eduardo Sinico</h1>
                            <h2>Desenvolvedor Front-End</h2>
                        </div>
                        <div class="div-dev-img">
                            <img src="../../TEMPLATES/devs/sinico.jpg" alt="dev-img">
                        </div>
                    </div>
                </div>
                <div class="div-our-work-section">
                    <div class="div-our-work-title">
                        <h2>Conheça o Nosso Trabalho</h2>
                    </div>
                    <div class="div-our-work-text">
                        <h2>Bem-vindo à nossa página!</h2>
                        <p>
                            Somos uma equipe dedicada de estudantes da escola técnica SENAI, e nosso trabalho começou
                            como um projeto escolar. O nosso objetivo era desenvolver uma solução prática e eficiente
                            para um problema real que identificamos: a necessidade de um controle de estoque mais
                            organizado e acessível dentro da nossa instituição.
                        </p>
                        <p>
                            Dessa ideia, nasceu o nosso Sistema Web de Controle de Estoque. Este sistema foi criado com
                            o propósito de auxiliar a gestão de recursos e materiais da escola, tornando o processo mais
                            ágil e preciso.
                        </p>
                        <p>
                            Dessa ideia, nasceu o nosso Sistema Web de Controle de Estoque. Este sistema foi criado com
                            o propósito de auxiliar a gestão de recursos e materiais da escola, tornando o processo mais
                            ágil e preciso.
                        </p>
                        <p>
                            O nosso projeto não apenas resolve um problema logístico, mas também representa nosso
                            compromisso com a inovação e a excelência técnica. Como alunos do SENAI, estamos
                            constantemente buscando aprimorar nossas habilidades e contribuir positivamente para a nossa
                            comunidade escolar.
                        </p>
                        <p>
                            Agradecemos por visitar nossa página e esperamos que o nosso Sistema Web de Controle de
                            Estoque possa servir como inspiração para outros projetos que promovam melhorias
                            significativas em suas áreas de atuação.
                        </p>
                        <p>
                            Pode copiar, só não faça igual!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer class="footer-section">
        <div class="footer-info-section">
            <span class="text-copyright">Copyright SENAI 2024 © Todos os direitos reservados.</span>
        </div>
    </footer>

</body>

<script src="../../JS/fragments/headerScript.js"></script>
<script src="../../JS/fragments/loadingScript.js"></script>

</html>