<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhes do Local</title>
    <link rel="stylesheet" href="/css/rooms/details.css">
    <link rel="stylesheet" href="/css/fragments/loadingStyle.css">
    <link rel="stylesheet" href="/css/fragments/styleHeader.css">
    <link rel="stylesheet" href="/css/fragments/styleFooter.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="assets/logo/senai_icon.png">
</head>

<body>

    <div th:insert="~{fragments/loading :: div}"></div>

    <header th:insert="~{fragments/header :: header}"></header>

    <div class="main-section">
        <div class="details-info-section">
            <div class="div-details-info-top">
                <div class="div-details-rooms-img-section">
                    <div class="div-sidebar-img">
                        <div class="div-img-room-mini selected-img">
                            <img src="" alt="img-room-1">
                        </div>
                        <div class="div-img-room-mini">
                            <img src="" alt="img-room-2">
                        </div>
                        <div class="div-img-room-mini">
                            <img src="" alt="img-room-3">
                        </div>
                    </div>
                    <div class="div-room-img-section">
                        <div class="div-img-room">
                            <img src="" id="main-img" alt="img-room-1">
                        </div>
                    </div>
                </div>
                <div class="div-details-info-section">
                    <div class="div-details-info-title">
                        <h1>Sala de Aula</h1>
                    </div>
                    <div class="div-details-info">
                        <div class="div-info">
                            <div class="div-info-list">
                                <ul>
                                    <li>Responsável: </li>
                                    <li>Qtde. de Patrimonios (Total): </li>
                                    <li>Área: </li>
                                    <li>
                                        Categorias:<br>



                                        <select th:each="categoria : ${categorias}">
                                            <option value="">Todas as Categorias</option>
                                            <option th:value="${categoria.id_categoria}"></option>
                                            </select>
                                            
                                            <!-- Outras opções -->
                                        
                                           <!--   <option>Caixa de Som</option>
                                            <option>Mesas</option>
                                            <option>Cadeiras</option>
                                            <option>Armários</option>
                                            <option>Projetor</option>
                                            <option>Lousa</option>
                                        </select> -->
                                    </li>
                                </ul>
                            </div>
                            <div class=" div-info-text">
                                                <p th:text = "${sala}"><!-- Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aperiam,
                                                    ipsum minus esse
                                                    ab sunt delectus laboriosam nihil minima soluta dolorem nulla
                                                    doloremque commodi
                                                    quaerat, voluptatem natus molestias. Voluptatibus, ratione fugiat. -->
                                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="div-details-info-button-section">
                        <div class="details-button">
                            <button id="act-table-maint-btn" class="wrench-btn"><i
                                    class="fas fa-solid fa-wrench"></i></button>
                            <button id="act-table-transf-btn" class="envelope-btn"><i
                                    class="fas fa-regular fa-envelope"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="div-details-info-bottom">
                <div class="div-table-info">
                    <div class="div-table-maintenance" id="table-maintenance-id">
                        <div class="div-table-maint-title">
                            <h2>Patrimonios</h2>
                        </div>
                        <div class="div-table">
                            <table th:each="patrimonios : ${patrimoniosDaSala}">
                                <thead>
                                    <th>Nome</th>
                                    <th>Data de Registro</th>
                                    <th>Status</th>
                                </thead>
                                <tbody>
                                    <td th:text="${patrimonios.nome_patrimonio}"></td>
                                    <td th:text="${patrimonios.data_registro_patrimonio}"></td>
                                    <td th:text="${patrimonios.status_patrimonio}"></td>
                                </tbody>
                              
                            </table>
                        </div>
                    </div>
                    <div class="div-table-transfer" id="table-transfer-id">
                        <div class="div-table-transf-title">
                            <h2>Equipamentos Transferidos</h2>
                        </div>
                        <div class="div-table">
                            <table>
                                <thead>
                                    <th>ID</th>
                                    <th>Categoria</th>
                                    <th>Status</th>
                                </thead>
                                <tbody>
                                    <td>3</td>
                                    <td>Cadeira</td>
                                    <td>Transferida</td>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer th:insert="~{fragments/footer :: footer}"></footer>

</body>

<script src="../../JS/fragments/headerScript.js"></script>
<script src="../../JS/pages/detailsScript.js"></script>
<script src="../../JS/fragments/loadingScript.js"></script>

</html>