<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/fragments/loadingStyle.css">
    <link rel="stylesheet" href="/css/fragments/styleHeader.css">
    <link rel="stylesheet" href="/css/fragments/styleFooter.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="assets/logo/senai_icon.png">
</head>

<body>

    <div th:insert="~{fragments/loading :: div}"></div>

    <header th:insert="~{fragments/header :: header}"></header>

    <!-- Seção principal -->
    <main class="main-section">
        <div class="home-list-section">
            <div class="home-list-title">
                <h1>Blocos Disponíveis</h1>
            </div>
            <div class="home-list-blocks-section">
                <div class="div-list-blocks-title">
                    Selecione um Bloco
                </div>

                <div class="div-list-blocks">
                    <ul th:each="bloco : ${blocos}">
                        <li>
                            <button onclick="location.href='/detalhes-bloco/{id}(id=${bloco.idbloco})'"
                                th:text="${bloco.nome_bloco}"></button>
                        </li>
                        <!-- <li><button>Bloco A</button></li>
                        <li><button>Bloco B</button></li>
                        <li><button>Bloco C</button></li>
                        <li><button>Bloco D</button></li> -->
                    </ul>
                </div>
            </div>
        </div>
    </main>

    <footer th:insert="~{fragments/footer :: footer}"></footer>

</body>

<script src="../JS/fragments/headerScript.js"></script>
<script src="../JS/fragments/loadingScript.js"></script>

</html>