<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página ADM</title>
</head>
<body>
    <h1>Página ADM</h1>
    <a href="/interna-responsavel">Página Interna</a><br>

    <a href="/listar-responsaveis">Lista de Responsáveis</a><br>
    <form action="/logout-responsavel" method="get">
        <button type="submit" class="logout"><i class="fas fa-sign-out-alt"></i>Logout</button>
    </form>
    
</body>
</html>